<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Taco Cloud</title>
    </head>
    <body>
        <h1>Register</h1>
        <img th:src="@{/images/TacoCloud.png}" alt="TacoCloud">
        <form method="post" th:action="@{/register}" id="registerForm">
            <label for="username">Username:</label><br>
            <input type="text" name="username"><br>

            <label for="password">Password:</label><br>
            <input type="password" name="password"><br>

            <label for="confirm">Confirm Password:</label><br>
            <input type="password" name="confirm"><br>

            <label for="fullname">Full Name:</label><br>
            <input type="text" name="fullname"><br>

            <label for="street">Street:</label><br>
            <input type="text" name="street"><br>

            <label for="city">City:</label><br>
            <input type="text" name="city"><br>

            <label for="state">State:</label><br>
            <input type="text" name="state"><br>

            <label for="zip">Zip:</label><br>
            <input type="text" name="zip"><br>

            <label for="phoneNumber">PhoneNumber:</label><br>
            <input type="text" name="phoneNumber"><br>

            <button type="submit">register</button>
        </form>
    </body>
</html>