<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Taco Cloud</title>
    </head>
    <body>
        <h1>Login</h1>
        <img th:src="@{/images/TacoCloud.png}">

        <div th:if="${param.error}" style="color: red">
            Unable to login. Check Your username and password.
        </div>

        <p>New here? Click <a th:href="@{/register}">here</a> to register.</p>

        <form th:action="@{/authenticate}" method="post" id="loginForm">
            <label for="username">Username:</label>
            <input type="text" name="user" id="username"><br>
            <label for="password">Password</label>
            <input type="password" name="pwd" id="password"><br>
            <button type="submit" value="Login">login</button>
        </form>

    </body>
</html>